/* ============================================
   RESET BÀSIC
   ============================================ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--blanc);
    color: var(--fosc);
    overflow-x: hidden;
    cursor: none;
}