/* ============================================
   VARIABLES CSS
   ============================================ */
:root {
    --blanc: #FFFFFF;
    --fosc: #1a1a1a;
    --gris: #666666;
    --gris-clar: #999999;
    --accent: #000000;
}